/* ProjectCard.css */
.projectCard {
  background-color: #1f1f1f; /* Darker background color */
  width: 300px; /* Fixed width for card */
  height: 300px;
  max-width: 20px 0; /* Fixed height for the card */
  border-radius: 5px; /* Slightly rounded corners */
  overflow: hidden; /* Hide overflow for rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  border: 1px solid #333; /* Dark border for the card */
}

.projectCard img {
  width: 100%; /* Full width of the card */
  height: 70%; /* Height for the image */
  object-fit: contain;
  margin-top: 20px;
  margin-right: 20px; /* Maintain aspect ratio */
}

.projectCard .info {
  display: flex; /* Flexbox for layout */
  align-items: center; /* Center items vertically */
  gap: 20px; /* Space between items */
  padding: 15px; /* Padding for inner spacing */
}

.projectCard .info img {
  width: 40px; /* Profile image width */
  height: 40px; /* Profile image height */
  border-radius: 50%; /* Circular profile image */
  object-fit: cover; /* Maintain aspect ratio */
}

.projectCard .info .texts h2 {
  font-size: 14px; /* Font size for category */
  font-weight: 500; /* Semi-bold font weight */
  color: #ffffff; /* White color for category */
  margin-left: 15px; /* Add left margin to the category */
}

.projectCard .info .texts span {
  font-size: 14px; /* Font size for username */
  font-weight: 300; /* Lighter font weight */
  color: #b0b0b0; /* Light gray color for username */
}
