.projectCard {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  /* border: 1px solid rgb(225, 225, 225); */
  box-shadow: 0px 0px 6px 0px rgba(0,0, 0, 0.59);
  overflow: hidden;
}

.projectCard img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.projectCard .info {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
}

.projectCard .info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.projectCard .info .texts h2 {
  font-size: 14px;
  font-weight: 500;
}

.projectCard .info .texts span {
  font-size: 14px;
  font-weight: 300;
}
