.featured {
    height: 680px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #000000;
    color: white;
    position: relative; /* Add this for relative positioning */
  }
  
  .featured .container {
    width: 1400px;
    display: flex;
    align-items: center;
    background-image: url("./img/man.png"); /* URL to your image */
    background-size: cover;
    background-position: center;
  }
  
  .featured .container .left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 1;
  }
  
  .featured .container h1 {
    font-size: 50px;
  }
  
  .featured .container h1 span {
    font-style: italic;
    font-weight: 300;
  }
  
  .featured .container .search {
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .featured .container .search .searchInput {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .featured .container .search .searchInput img {
    width: 20px;
    height: 20px;
    margin: 10px;
  }
  
  .featured .container .search .searchInput input {
    border: none;
    outline: none;
  }
  
  .featured .container .search .searchInput input::placeholder {
    color: gray;
  }
  
  .featured .container .search button {
    width: 120px;
    height: 50px;
    border: none;
    background-color: #1dbf73;
    color: white;
    align-self: flex-end;
    cursor: pointer;
    margin: 5px 5px;
  }
  
  .featured .container .popular {
    display: flex;
    align-items: center;
    gap: 10px;

  }
  
  .featured .container .popular span {
    width: max-content;
  }
  
  .featured .container .popular button {
    width: max-content;
    color: white;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .featured .container .popular button:hover {
    background-color: #5089a1;
    box-shadow: 0 0 5px #5089a1,
        0 0 20px #5089a1,
        0 0 60px #5089a1,
        0 0 150px #5089a1;
    color: black;
    transition: 0.5s ease;
}
  .featured .container .right {
    position: absolute; /* Set the right div to absolute positioning */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .featured .container .right img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }












  /* =====================Below work of changing the text dynamically is still pending================================================ */

/* .featured .container .left .text{
  display: flex;
  justify-content: center;
    /* position: relative; */
  /* overflow: hidden; 
}

.featured .container .left .text .first-text{
  color: #fff;
}

.featured .container .left .text .third-text{
  color: #fff;
}
.featured .container .left .text .sec-text:before{
  content: "";
  position: absolute;
  color: #4070f4;
  background-color: transparent;
  background-color: yellow;
  border-left: 2px solid #4070f4;
  animation: animate 4s steps(12) infinite;
  
}

@keyframes animate{
  40% , 60%{
    left: 100%;
  }
  100%{
    left: 0%;
  }
} */