.gigs {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .gigs .container {
    width: 1400px;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .gigs .container .breadcrumbs {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
    color: #555;
  }
  
  .gigs .container p {
    color: #999;
    font-weight: 300;
  }
  
  .gigs .container .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .gigs .container .menu .left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #555;
    font-weight: 300;
  }
  
  .gigs .container .menu .left input {
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
  }
  
  .gigs .container .menu .left input::placeholder {
    color: #999;
  }
  
  .gigs .container .menu .left button {
    padding: 5px 10px;
    background-color: #1dbf73;
    color: white;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .gigs .container .menu .right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .gigs .container .menu .right .sortBy {
    color: #555;
    font-weight: 300;
  }
  
  .gigs .container .menu .right .sortType {
    font-weight: 500;
  }
  
  .gigs .container .menu .right img {
    width: 15px;
    cursor: pointer;
  }
  
  .gigs .container .menu .right .rightMenu {
    padding: 20px;
    background-color: white;
    border: 0.5px solid lightgrey;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #555;
  }
  
  .gigs .container .menu .right .rightMenu span {
    cursor: pointer;
  }
  
  .gigs .container .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  