.home .features {
  background-color: #333; /* Dark background color */
  display: flex;
  justify-content: center;
  padding: 100px 50px;
}

.home .features.dark {
  background: #222; /* Darker gradient background for dark mode */
}

.home .features.dark h1,
.home .features.dark p,
.home .features.dark .title {
  color: #f5f5f5 !important; /* Light text color for better contrast */
}

.home .features.dark button {
  background-color: #1dbf73; /* Keep button color consistent */
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  width: max-content;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.home .features .container {
  width: 1400px;
  display: flex;
  align-items: center;
  gap: 200px;
}

.home .features .container .item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home .features .container .item:first-child {
  flex: 2;
}

.home .features .container .item:last-child {
  flex: 3;
}

.home .features .container .item img {
  width: 100%;
  border-radius: 10px; /* Added border-radius for images */
}

.home .features .container .item h1 {
  font-weight: 500;
  margin-bottom: 10px;
}

.home .features .container .item .title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #ccc; /* Lighter color for titles */
}

.home .features .container .item .title img {
  width: 24px;
  height: 24px;
}

.home .features .container .item p {
  font-size: 18px;
  font-weight: 300;
  color: #f5f5f5; /* Light color for paragraph text */
  line-height: 28px;
  letter-spacing: 1px;
}

.home .features .container .item video {
  width: 720px;
}

/* Explore section styles */
.home .explore {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.home .explore .container {
  width: 1400px;
}

.home .explore .container h1 {
  color: #555;
}

.home .explore .container .items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home .explore .container .items .item {
  width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.home .explore .container .items .item img {
  width: 50px;
  height: 50px;
}

.home .explore .container .items .item .line {
  width: 50px;
  height: 2px;
  background-color: lightgray;
  transition: all 0.3s ease;
}

.home .explore .container .items .item span {
  font-weight: 300;
}

.home .explore .container .items .item:hover .line {
  width: 80px;
  background-color: #1dbf73;
}

/* Button Styles */
.business-explore-button {
  z-index: 49;
  background-color: yellow;
  transition: 0.3s ease;
}

/* Heading Styles */
h2 {
  color: white;
}

h1 {
  color: white;
}

/* Clean desk image */
.home .features .container .item .clean-desk-image {
  border-radius: 10px; /* Ensure clean desk image has rounded corners */
}
