.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;
  width: 100%;
  padding: 0 20px;
}

.navbar.active {
  background-color: #f0f0f0;
  color: #333;
}

.navbar .container {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar .logo .link {
  text-decoration: none;
  color: inherit;
  font-size: 34px;
  font-weight: bold;
}

.navbar .logo .dot {
  color: #1dbf73;
}

.navbar .links {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 500;
}

.navbar .links span {
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.navbar .links .user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.navbar .links .user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar .links .user .options {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: gray;
  width: 200px;
  font-weight: 300;
}

.navbar .links .user .options a {
  color: inherit;
  text-decoration: none;
}

.navbar .links .user .options button {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: inherit;
  text-align: left;
  padding: 0;
}

.navbar .links button {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar.active .links button {
  background-color: #1dbf73;
  border-color: #1dbf73;
  color: white;
}

/* Change color of individual link on hover */
.navbar .links span:hover {
  color: #1dbf73; /* Change the color to green */
}

.navbar .links button:hover {
  background-color: #1dbf73;
  border-color: #1dbf73;
}

.navbar .menu {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  color: gray;
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
}

.navbar .menu a {
  color: inherit;
  text-decoration: none;
  padding: 5px 10px;
}

.navbar .menu a:hover {
  color: #1dbf73;
}

@media (max-width: 1024px) {
  .navbar .container,
  .navbar .menu {
    padding: 20px;
  }

  .navbar .links span:not(:last-child) {
    display: none;
  }

  .navbar .menu {
    justify-content: flex-start;
    gap: 20px;
    overflow-x: auto;
  }
}

@media (max-width: 768px) {
  .navbar .container {
    padding: 20px;
  }

  .navbar .links .user .options {
    right: 0;
    width: 200px;
  }

  .navbar .menu {
    display: none;
  }
}
