.language{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    margin: 5px 0px;

}

.language .change-option{
    display: flex;
    padding-left: 92%;
    align-items: end;
}